body{
    background-color: #f8f9fa;
}

/* Espaciado entre secciones */
section{
    margin-bottom: 60px;
}

/* Tarjetas */
.card{
    margin-bottom: 20px;
    height: 100%;
}

/* Todas las imágenes de las tarjetas tendrán el mismo tamaño */
.card-img-top{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* Imagen principal */
.img-fluid{
    max-height: 350px;
    object-fit: cover;
}

/* Footer */
footer{
    margin-top: 50px;
}